/* STYLE SHEET FOR INDEX.HTML */


/* Idk, my bff Jane? */
ul {
	padding: 0;
}

html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: linear-gradient(to top left, #ccf0ff, white, #0095ff); /* grey #e8e8e8, blue #0041ab */
}
	
.containerNavMain {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	margin: 0;
}

/* TOP BANNER */
.bannerDiv {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	background-color: #8b0000;
	color: #ffffff;
	font-size: .5em;
}

.bannerDiv h2 {
	font-size: 20px;
}

p.banner {
	font-size: 1em;
	font-style: italic;
}


/* NAVBAR */
nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #333;
	font-family: Times;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 65%;
}

nav p {
	color: #f2f2f2;
	margin-bottom: 15px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav a {
	color: #9d9d9d;
	text-decoration: none;
	margin: 10px;
}

nav li.active {
	background-color: black;
}

nav a.active {
	color: white;
}
	
nav img {
	display: none;
}


/* MAIN BODY */
main {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	color: #333;
}

h1 {
	font-size: 36px;
	margin-bottom: 15px;
	font-weight: bold;
}

.indexContactP {
	font-weight: bold;
	color: #8B0000;
}

/* Modal description */
.prDesc,
.exDesc {
	font-size: 14px;
	margin: 10px;
}

mark.ex,
mark.pr,
mark.gal,
.galLink {
	color:#8b0000;
	background: none;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

mark.prof {
	color:#ff0000;
	background: none;
}

main ul {
	font-size: 16px;
	display: list-item;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#indexImg {
	height: 150px;
	width: auto;
	align-self: center;
}

.helloDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* GALLERY */
.galPar {
	text-align: justify;
}

.galContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.galImgDiv {
	text-align: center;
	margin: 10px;
	width: 100%;
}

.galImg {
	width: 70%;
}

/* Modal img */
.galDesc img {
	width: 100%;
	height: auto;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	padding: 5px;
	margin-top: 0%;
	font-size: 14px;
}

/* Modal box */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
}

/* Modal close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
	
@media screen and (min-width: 1024px) {
	
	/* TOP BANNER */
	.bannerDiv {
		font-size: 1em;
		height: 10vh;
		text-align: right;
	}
	
	.bannerDiv h2 {
		font-size: 20px;
		margin: 5px;
	}
	
	.bannerDiv h3 {
		font-size: 15px;
		margin: 5px;
	}
	
	p.banner {
		font-size: 15px;
		margin: 5px;
	}
	
	
	/* NAVBAR */
	.containerNavMain {
		flex-direction: row;
	}
	
	nav {
		flex-direction: column;
		justify-content: flex-start;
		width: 10%;
		padding: 15px;
		font-size: 100%;
	}
	
	nav ul {
		flex-direction: column;
	}
	
	nav img {
		display: flex;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1em;
		object-fit: cover;
		border-radius: 50%;
	}
	
	
	/* MAIN BODY */
	main {
		padding: 30px 40px 30px 30px;
		text-align: center;
	}
	
	main ul{
		list-style-type: none;
	}
	
	.helloDiv {
		flex-direction: row-reverse;
	}
	
	.helloDiv div {
		text-align: left;
	}
	
	.helloDiv h1 {
		text-align: center;
	}
	
	#indexImg {
		display: none;
	}
	
	button {
		width: 40%;
		align-self: center;
	}

	.galImgDiv {
		width: 30%;
	}
	
	/* Modal box for Gallery */
	.jsGalModal {
		padding-top: 25px; /* Location of the box */
	}

	/* Modal img */
	.galDesc img {
		width: 100%;
	}
	
	/* Modal content for Gallery */
	.modalContentGal {
		width: 30%;
	}

}

@media screen and (min-width: 1275px) {
	
	/* TOP BANNER */
	.bannerDiv h2 {
		font-size: 15px; /* Prev: 20px */
		margin: 5px;
	}
	
	.bannerDiv h3 {
		font-size: 10px; /* Prev: 15px */
		margin: 5px;
	}
	
	p.banner {
		font-size: 10px; /* Prev: 15px */
		margin: 5px;
	}
	
}